{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Jin Zhang</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="//netdna.bootstrapcdn.com/bootswatch/2.3.1/cyborg/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        body {
            padding-top: 40px;
            padding-bottom: 40px;
        }

            /* Custom container */
        .container-narrow {
            margin: 0 auto;
            max-width: 700px;
        }
    </style>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>

<body class="preview" id="top">

<div class="container-narrow">

    <header class="jumbotron subhead" id="overview">
        <div class="row">
            <div class="span3 pull-right">
                <h1>Jin Zhang</h1>
                <p class="lead">Software Developer</p>
            </div>
        </div>
    </header>
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container" style="width:auto;">
                <ul class="nav">
                    <li id="nav-blog">
                        <a href="{% url 'home' %}">Blog</a>
                    </li>
                    <li id="nav-about">
                        <a href="{% url 'about' %}">About</a>
                    </li>
                    <li id="nav-contact">
                        <a href="{% url 'contact' %}">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    {% block content %}Empty page{% endblock %}
    {% block footer %}{% endblock %}

</div> <!-- container -->

<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
<script
        src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?skin=sons-of-obsidian"></script>
</body>
</html>